<div class="main-row">
    <div class="month">
        <div class="month-name">January</div>
        <div class="days" [style]="item.value" *ngFor="let item of workingDaysInJan | keyvalue">
            {{ item.key }}
        </div>
    </div>
    <div class="month">
        <div class="month-name">February</div>
        <div class="days" [style]="item.value" *ngFor="let item of workingDaysInFeb | keyvalue">
            {{ item.key }}
        </div>
    </div>
    <div class="month">
        <div class="month-name">March</div>
        <div class="days" [style]="item.value" *ngFor="let item of workingDaysInMar | keyvalue">
            {{ item.key }}
        </div>
    </div>
    <div class="month">
        <div class="month-name">April</div>
        <div class="days" [style]="item.value" *ngFor="let item of workingDaysInApr | keyvalue">
            {{ item.key }}
        </div>
    </div>
    <div class="month">
        <div class="month-name">May</div>
        <div class="days" [style]="item.value" *ngFor="let item of workingDaysInMay | keyvalue">
            {{ item.key }}
        </div>
    </div>
    <div class="month">
        <div class="month-name">June</div>
        <div class="days" [style]="item.value" *ngFor="let item of workingDaysInJun | keyvalue">
            {{ item.key }}
        </div>
    </div>
    <div class="month">
        <div class="month-name">July</div>
        <div class="days" [style]="item.value" *ngFor="let item of workingDaysInJul | keyvalue">
            {{ item.key }}
        </div>
    </div>
    <div class="month">
        <div class="month-name">August</div>
        <div class="days" [style]="item.value" *ngFor="let item of workingDaysInAug | keyvalue">
            {{ item.key }}
        </div>
    </div>
    <div class="month">
        <div class="month-name">September</div>
        <div class="days" [style]="item.value" *ngFor="let item of workingDaysInSep | keyvalue">
            {{ item.key }}
        </div>
    </div>
    <div class="month">
        <div class="month-name">Octomber</div>
        <div class="days" [style]="item.value" *ngFor="let item of workingDaysInOct | keyvalue">
            {{ item.key }}
        </div>
    </div>
    <div class="month">
        <div class="month-name">November</div>
        <div class="days" [style]="item.value" *ngFor="let item of workingDaysInNov | keyvalue">
            {{ item.key }}
        </div>
    </div>
    <div class="month">
        <div class="month-name">December</div>
        <div class="days" [style]="item.value" *ngFor="let item of workingDaysInDec | keyvalue">
            {{ item.key }}
        </div>
    </div>
</div>



